.Navbar{
    width: 100%;
    max-width: 1440px;
    margin:1em auto;
}
.logo{
    width:60px;
    height: auto;
    float:left;

}
.active{
    color: #277DA1;
    &:hover{
        color: black;
    }
}
.navbar-link-list{
    display: inline-block;
    text-align: right;
    margin: auto;
    width: 100%;
    nav a{
        margin-left:5%;
    }
    a{
        text-decoration: none;
    }
}
