.skills-list{
    column-count: 3;
}
.about-card{
    margin-top:5%;
}
.experience-image-section img{
    width:30%;
    height:auto;
    float:left;
    border: 1px solid black;
    margin-right: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}
.personal-image-section img{
    width:60%;
    height:auto;
    float:right;
    border: 1px solid black;
    margin-left:5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}