@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/*====================global styles====================*/
* {
    font-family: 'Roboto', sans-serif;
}
a{
    color: black;
}
a:hover{
    color: #277DA1;
}