.curve{
    float:left;
    shape-outside: circle();
    margin-right: 2rem;
}
.intro-header{
    font-size: 26px;
    line-height:30px;
    background-color: rgba(87,117,144,0.25);
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.column-left{
    width: 50%;
    display: inline-block;
    text-align: center;
    .img-container{
        margin:5%;
        .profile-img{
            max-width:100%;    
        }
    }
}
.column-right{
    width:50%;
    display: inline-block;
    p{
        margin: 10%;
    }
}

@media only screen and (max-width:600px) {
    .column-left{
        width:100%;
        display:block;
    }
    .column-right{
        width:100%;
        display: block;
    }
}