.card-row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
    .project-card{
        //for the max width, only max 3 project-cards are allowed in a card-row
        // so we are going to set the max width of the cards based on how many
        // are in each row
        @for $i from 1 through 3 {
            &:first-child:nth-last-child(#{$i}),
            &:first-child:nth-last-child(#{$i}) ~ .project-card {
                max-width: (96%) / $i;
            }
        }
        flex: 0 0 100%;
        position: relative;
        margin: 0 auto;
        display: inline-block;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        &:hover{
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
        .container{
            padding:2px 16px;
        }
        .card-img{
            width:100%;
        }
    }
}

@media only screen and (max-width:600px) {
    .card-row{
        .project-card{
            margin-top:1em;
            flex:0 0 100%;
            @for $i from 1 through 3 {
                &:first-child:nth-last-child(#{$i}),
                &:first-child:nth-last-child(#{$i}) ~ .project-card {
                    max-width: 100%;
                }
            }
        }
    }
}