@media print{
    .no-print{
        display:none !important;
    }
}
@page{
    size:auto;
    margin:0;
}
.btn-outline-primary {
    color: #277DA1;
    border-color: #277DA1;
    &:hover, &:not(:disabled):not(.disabled):active{
        color: #fff;
        background-color: #277DA1;
        border-color: #277DA1;
    }
    &:focus {
        box-shadow: 0 0 0 0.2rem rgba(39, 125, 161, 0.5);
    }
}
.center{
    text-align: center;
}
#header .image{
    margin-left:auto;
    margin-right:auto;
}
.resume-img{
    border-radius:50%;
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.resume-section{
    margin-bottom:5%;    
}
.resume-section h2{
    color: #277DA1;
}

#skills .title, #education .title{
    font-weight: bold;
    padding-right:1em;
}

/*Contact links*/
#contact a{
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}

/*resume section style and layout*/
#experience .company, #education .institution, #projects .name{
    font-size:x-large;
    font-weight:bold;
}
#experience .location, #education .city, #projects .location{
    font-style: italic;
    color: #277DA1;
    font-weight:bold;
    float:right;

}
#experience .title, #education .degree, #projects .role{
    font-size:large;
    font-weight:400
}
#experience .date, #education .date, #projects .date{
    font-style: italic;
    float:right;
}

#experience .responsibilities, #education .accomplishments, #projects .responsibilities{
    margin-top:0.5em;
}